*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

/* Header */
header {
  background-color: #f55a5a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
}

h1 {
  font-weight: 500;
}

.logo {
  height: 2.5rem;
}

/* Card */
.card{
  display: flex;
  gap: 20px;
  padding: 40px;
}

.location-image-container{
  height: 300px;
  width: 220px;
  overflow: hidden;
  border-radius: 15px;
}

.location-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.location{
  display: flex;
  align-items: center;
  gap: 8px;
}

.location img{
  height: 18px;
}

.location a{
  color: #918E9B;
  padding-left: 10px;
}

.uppercase{
  text-transform: uppercase;
  font-weight: 300;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2{
  margin-top: 0;
  font-size: 40px;
}
