*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

/* Header */
header {
  background-color: #f55a5a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
}
