*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Popins, sans-serif;
}

h2 {
  font-size: 0.75rem;
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}