/* Header */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  padding-left: 20px;
}

.img {
  width: 40px;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items li {
  padding: 10px 20px;
}

/* Main */
.main{
    padding: 20px;
}

/* Footer */
.footer {
  background-color: aliceblue;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
