* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
}

.joke-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joke {
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: aquamarine;
}

.setup {
  font-weight: bold;
}
